* {
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* max-width: 1300px; */
  grid-template-rows: 1fr;
  margin: 5% auto;
  border: 1px solid darkcyan;
  
}
article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid hotpink;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
article > button {
  width: 10vw;
  height: auto;
  cursor: pointer;
}
.modal_background {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 30%;
  width: 500px;
  max-width: 80%;
  background: grey;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}
.modal_content {
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin: 1em;
  padding: 2em;
  background-color: var(--primary-color);
  text-align: center;
  position: absolute;
}
.hide {
  display: none;
}
.name {
  cursor: pointer;
}
:root {
  --primary-color: red;
}
.modal_content[data-theme="Hufflepuff"] {
  --primary-color: yellow;
}
.modal_content[data-theme="Gryffindor"] {
  --primary-color: crimson;
}
.modal_content[data-theme="Ravenclaw"] {
  --primary-color: blue;
}
.modal_content[data-theme="Slytherin"] {
  --primary-color: green;
}
.img {
  overflow: auto;
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
}
.full_name {
  cursor: pointer;
}
p {
  font-size: 20px;
  font: courier new;
  color: black;
}
body {
  background-color: whitesmoke;
}
/* .grayout {
  filter: grayscale(100%);
}
/****** WINNER ******/
[data-field="winner"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}

.icons {
  width: 50px;
}
.modal {
  display: none; */
}
.modal.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
